Kvsqlite
Pyrogram
aiohttp
aiohttp-socks
aiosignal
arabic-reshaper
async-timeout
attrs
autopep8
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
frozenlist
getmac
idna
markdown-it-py
mdurl
multidict
N4Tools
names
pillow
pyarmor
pyarmor.cli.core
pycodestyle
pyfiglet
Pygments
pyTelegramBotAPI
python-bidi
python-cfonts
python-nmap
python-socks
requests
rich
six
soupsieve==2.5
telebot==0.0.5
tqdm==4.66.1
urllib3==2.1.0
user_agent==0.1.10
uuid==1.30
yarl==1.9.4
telebot
requests
bs4
faker
user_agent
fake_useragent
